@import "tailwindcss";

:root {
  --background: #101210;
  --background-secondary: #31422D33;
  --foreground: #DEDEDE;
  --forground-secondary: #C5C5C5;
  --border: #31422D;

  /* Theme Colors */
  --theme-primary: #55E039;
  --theme-secondary: #31422D;
  --theme-three: #119200;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  
  /* Custom colors */
  --color-theme-primary: var(--theme-primary);
  --color-theme-secondary: var(--theme-secondary);
  --color-theme-three: var(--theme-three);

  /* Font Family */
  --font-rethink-sans: var(--rethink-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button-primary {
  @apply py-[10px] px-[15px] bg-theme-primary text-[16px] rounded-2xl text-background font-medium cursor-pointer;
}

.button-outline {
  @apply py-[10px] px-[15px] bg-background-secondary text-[16px] rounded-2xl text-foreground font-medium cursor-pointer border border-theme-secondary;
}

.button-primary:hover, .button-outline:hover {
  animation: buttonAnim 0.8s ease-out infinite;
}

@keyframes buttonAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3);
  }
  100% {
    transform: translateY(0);
  }
}